fastapi
uvicorn
numpy
xsdata
httpx
Jinja2
requests
xmltodict
lxml
python-multipart
python-dotenv
aiofiles
chardet
motor
redis
fastmcp


faiss-cpu==1.11.0.post1
numpy==2.3.2
scipy==1.16.1
scikit-learn==1.7.1
torch==2.7.1
transformers==4.55.0
sentence-transformers==5.0.0
huggingface-hub==0.34.3
tqdm==4.67.1

langchain-core==0.3.74
langchain-community==0.3.27
langchain-huggingface==0.3.1